<section class="about">
    <img src="../../assets/Bgimage.jpg">
    <h1>About Us_________</h1>
    <p>We pioneered the discount broking model in India.
        Now, we are breaking ground with our technology</p>
    <h2>Long term investors, pro traders or part-time traders can choose across various asset classes and create your customised portfolio. All from one platform.</h2>
    <ul>
        <li class="text-dark text-left" icon>
            <i class="ri-check-double-line"></i>
            
                Investing is free on CFMS!
                ₹0 brokerage* for delivery orders.
           
        </li>
        <li class="text-dark text-left" icon>
            <i class="ri-check-double-line"></i>
            ONE APP FOR ALL,Stocks, futures & options, mutual funds, digital gold, IPO & more....
        </li>
        <li class="text-dark text-left" icon>
            <i class="ri-check-double-line"></i>
           Trade from anywhere, Invest via browser on laptop or your phone app.

        </li>
    </ul>
</section>
